.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    height: 100vh;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.divwrapper {
    display: flex;
    width: 100%;
    height: 88%;
    position: relative;

}
.sinceninetynine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.sinceninetynine h1{
    font-size: 15rem;
    opacity: 15%;
    color: var(--background-white-white);
    padding-right: 6rem;
    line-height: 0;
    position: relative;
    z-index: -1;

}
.bottomarrowdiv {
    width: 92%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1px solid var(--font-color);
}
.bottomarrowdiv h2{
    padding-right: 6.5rem;
}

.leftdiv {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3.7rem;
    min-height: 80vh;

}

.h1class {
    font-size: 3.45rem;
    font-weight: 700;
    line-height: 0.7;
}
.h2class {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.01;
    padding-top: 1rem;
}
.hwrapp {
    height: 70vh;
}


.rightdiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 2.5rem;
    width: 60%;
    min-height: 80vh;
}



.lineone {
    width: 100%;
    margin-top: 1rem;
}
.linetwo {
    width: 100%;
    margin-top: 0.2rem;
}
.linetwo img {
    margin-right: 0.2rem;
}
.linethree {
    width: 100%;
    margin-top: 0.2rem;
}

.linethree img {
    margin-right: 0.2rem;
}
.lineone img:nth-child(1){
    width: 22.8rem;
}
.lineone img:nth-child(2){
    width: 11.35rem;
}


.buttonsection {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

.buttonsection button:nth-child(1) {
    width: 9rem;
    height: 3rem;
    border: none;
    background-color: var(--background-white-white);
    color: var(--font-color);
    font-size: 0.8rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: "KRYLON";

}
.buttonsection button:nth-child(2) {
    width: 9rem;
    height: 3rem;
    border: none;
    color: var(--background-white-white);
    background-color: var(--font-color);
    font-size: 0.8rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: "KRYLON";

}

.star {
    position: absolute;
    top: 6rem;
    left: 3.2rem;

}

.startwo {
    position: absolute;
    padding-top: 18.4rem;
    padding-right: 3.5rem;
    z-index: 1;

}