.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-white);
    position: relative;
    z-index: 2;
    
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.head h1, .head h2 {
    font-size: 5rem;
}
.newproducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.newproducts img {
    width: 1.2rem;
    padding: 0 1rem;
}